.navbar {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

.navbar-brand {
    color: #2d283e;
    font-size: 30px !important;
    font-weight: 600;
}

.navbar-brand:hover {
    color: #2d283e;
}

.nav-highlight {
    color: #812bb2;
}

a.nav-link {
    color: #812bb2;
}

a.nav-link:hover {
    color: #2d283e;
}

#appviews {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 1000px;
    padding: 20px 20px 40px 20px;
}



/****** Links and Buttons ******/

a.link, a.return {
    color: #812bb2;
}

a.link:hover, a.return:hover {
    color: #2d283e;
    text-decoration: none;
}

a.return {
    font-size: .8em;
}

a.cancel {
    color: #4c495c;
    text-decoration: underline;
}

a.cancel:hover {
    color: #812bb2;
}

.delete {
    color: #ff0090;
}

.costume_links {
    font-size: 10px;
}

.costume_links a {
    color: #999;
}

button.btn { border: 0 none; }

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

button.btn-primary {
    background-color: #812bb2;
}

button.btn-secondary {
    background-color: #77797e;
}

button.btn-primary:hover, button.btn-primary:active, button.btn-primary:focus, button.btn-primary:active:focus,
    .show>button.btn-primary.dropdown-toggle{
        color: #fff;
        background-color: #564f70;
    }

button.btn-primary:not(:disabled):not(.disabled).active,
button.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #3a344f;
}


/****** Forms ******/

#appviews label {
    margin-bottom: 0px;
}

/* #appviews .form-control {
    height: auto;
    padding: 3px 8px;
} */

.form_width, .searchForm {
    max-width: 500px;
}

.login_form {
    margin: 0 auto;
    width: fit-content;
}

.convention_form label {
    margin-bottom: 0px;
}

select#costumeId {
    width: 300px;
}

/****** Convention List ******/

.con_details {
    font-size: .9rem;
    line-height: 1.3em;
}

.thumb {
    width: 64px;
    height: 64px;
}

.convention_packing_list .checked, .costume_packing_lists .checked {
    text-decoration: line-through;
}

/****** Costume List ******/

/* .costume_list {
    max-width: 1050px;
} */

/* .costume_list .card {
    max-width: 318px;
} */

.costume_list .card a, .con_details a, .costume_list .card a:hover, .con_details a:hover {
    color: #212529;
    text-decoration: none;
}

.costume_list .card-title {
    margin-bottom: 0;
}

.subtitle {
    font-size: .7em;
}

.outfit {
    font-size: .8em;
    font-style: italic;
}

.costume_details_section .thumb {
    width: 150px;
    height: 150px;
}

.costume_details {
    line-height: .9em;
}

.costume_details h4 {
    margin-bottom: 5px;
}

.costume_details .table td {
    padding: 7px 5px;
}

.items_box {
    font-size: .8em;
}

#appviews .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f4f8;
}

/****** Convention Details ******/

/* .convention_costume_list .card {
    max-width: 200px;
    height: auto;
} */

.convention_costume_list .card-body {
    padding: 10px;
}

.convention_costume_list .card-title h3 {
    font-size: 1.4em;
}

/****** Convention Search ******/
.add_result {width: 70px;}


/****** Lineup ******/

@media (max-width: 500px) {
.lineup_container .col {
    padding: 0px 0px 10px 0px;
    flex-basis: unset;
}
}


.lineup_container .col {
    padding: 0px 0px 10px 0px;
}

.lineup_container .row .lineup_day:nth-child(2) {
    background-color: #d3d1df;
}

.lineup_container .row .lineup_day:nth-child(3) {
    background-color: #bdbace;
}

.lineup_container .row .lineup_day:nth-child(4) {
    background-color: #a7a3be;
}

.lineup_container .row .lineup_day:nth-child(5) {
    background-color: #918bae;
}

.lineup_day {
    background-color: #e9e8ef;
    border-radius: 10px;
    margin: 10px 10px 20px 10px;
}

.lineup_day h4 {
    padding-top: 5px;
    text-align: center;
}

.day_top {
    padding: 2px 4px;
}

.timeslots_container {
    margin: 0px 10px;
}

.timeslot {
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 10px 10px 10px;
}

.timeslot_title {
    background-color: #f1f4f9;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    font-size: .9em;
    font-weight: bold;
    padding: 1px 4px;
    text-align: center;
}

.timeslot_text {
    font-size: .9em;
    padding: 15px 10px;
    text-align: center;
}

.w15 {
    width: 15px;
}

.add_timeslot {
    color: #fff;
    font-size: 2em;
    text-align: center;
}

.add_day {
    color: #999;
    font-size: 3em;
}

button.build_lineup {
    display: block;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 50px;
    width: 40%;
}
