.navbar {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

a.navbar-brand {
    color: #2d283e;
    font-weight: 600;
}

a.navbar-brand {
    font-size: 30px;
}

.navbar-brand:hover {
    color: #2d283e;
}

.nav-highlight {
    color: #812bb2;
}

.navbar-light .navbar-nav a.nav-link {
    color: #812bb2;
}

.navbar-light .navbar-nav a.nav-link:hover {
    color: #2d283e;
}

#appviews {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
}

.login, .register {
    padding: 0px 20px;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 550px;
}

.logo .navbar-brand {
    font-size: 50px;
}

@media (max-width: 500px) {
    .login .form-group, .login button, .register .form-group, .register button {
        width: 100%;
    }
}

.contact, .convention_list_personal, .convention_details, .find_convention, .convention_form,
.costume_list, .costume_details_section, .costume_form,
.group_list, .group_form, .group_details_section {
    padding: 20px;
    background-color: #fff;
}



/****** Links and Buttons ******/

a.link, a.return {
    color: #812bb2;
}

a.link:hover, a.return:hover {
    color: #4c495c;
    text-decoration: none;
}

a.return {
    font-size: .8em;
}

a.cancel {
    color: #4c495c;
    text-decoration: underline;
}

a.cancel:hover {
    color: #812bb2;
}

.delete {
    color: #ff0090;
}

.costume_links {
    font-size: 10px;
}

.costume_links a {
    color: #999;
}

button.btn { border: 0 none; }

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

button.btn-primary {
    background-color: #812bb2;
}

button.btn-secondary {
    background-color: #77797e;
}

button.btn-primary:hover, button.btn-primary:active,
    .show>button.btn-primary.dropdown-toggle{
        color: #fff;
        background-color: #564f70;
    }

button.btn-primary:not(:disabled):not(.disabled).active,
button.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #3a344f;
}





/****** Forms ******/

#appviews label {
    margin-bottom: 0px;
}

#appviews .form-control {
    padding: 3px 8px;
}

.form_width, .searchForm {
    max-width: 500px;
}

.login_form {
    margin: 0 auto;
    width: fit-content;
}

.convention_form label {
    margin-bottom: 0px;
}

select#costumeId {
    width: 300px;
}

.required {
    color: #ff0090;
}

.required-text {
    color: #ff0090;
    font-size: 12px;
    margin-top: 20px;
}



/****** Costumes ******/

.costume_list .card a, .con_details a, .costume_list .card a:hover, .con_details a:hover {
    color: #212529;
    text-decoration: none;
}

.costume_list .card-title {
    margin-bottom: 0;
}

.subtitle {
    font-size: .7em;
    height: 15px;
    padding-bottom: 1px;
}

.outfit {
    font-size: .8em;
}

.costume_details_section .thumb {
    width: 150px;
    height: 150px;
}

.costume_details {
    line-height: .9em;
}

.costume_details h4 {
    margin-bottom: 5px;
}

.costume_details .table td {
    padding: 7px 5px;
}

.items_box {
    font-size: .8em;
}

#appviews .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f4f8;
}




/****** Conventions ******/

@media (max-width: 500px) {
    .lineup_container .col {
        padding: 0px 0px 10px 0px;
        flex-basis: unset;
    }

    .convention_details .nav-item {
        padding: 0 10px 5px 0;
    }

    .convention_details .nav-item .nav-link {
        background-color: #f1f4f9;
        border-radius: 5px;
        border: 0;
    }
    .convention_details .nav-tabs, .nav-tabs .nav-link.active {
        border: 0;
    }
    .convention_details .nav-tabs .nav-link {
        color: #564f70 !important;
    }
    .nav-tabs .nav-link.active {
        background-color: #812bb2 !important;
        color: #fff !important;
    }
}

@media print {
    .items_box td {
        padding: 0 !important;
    }
}

.con_details {
    font-size: .9rem;
    line-height: 1.3em;
}

.thumb {
    width: 64px;
    height: 64px;
}

.convention_packing_list .checked, .costume_packing_list .checked {
    text-decoration: line-through;
}

.convention_costume_list .card-body {
    padding: 10px;
}

.convention_costume_list .card-title h3 {
    font-size: 1.4em;
}

.convention_details .nav-link {
    padding: 5px 12px;
}

.convention_details .nav-tabs .nav-link {
    color: #5d5380;
    font-size: 14px;
}

.convention_details .nav-tabs .nav-link.active {
    color: #812bb2;
}

.delete_costume {
    text-align: right;
    position: relative;
    top: 26px;
    right: 5px;
    z-index: 2;
}

.delete_costume i {
    color: #fff;
    text-shadow: 0px 0px 1px #000;
}




/****** Convention Search ******/

.add_result {
    color: #a8a4be;
    width: 70px;
}




/****** Convention Lineup ******/

@media (max-width: 500px) {
.lineup_container .col {
    padding: 0px 0px 10px 0px;
    flex-basis: unset;
}
}


.lineup_container .col {
    padding: 0px 0px 10px 0px;
}

.lineup_container .row .lineup_day:nth-child(2) {
    background-color: #d3d1df;
}

.lineup_container .row .lineup_day:nth-child(3) {
    background-color: #bdbace;
}

.lineup_container .row .lineup_day:nth-child(4) {
    background-color: #a7a3be;
}

.lineup_container .row .lineup_day:nth-child(5) {
    background-color: #918bae;
}

.lineup_day {
    background-color: #e9e8ef;
    border-radius: 6px;
    margin: 10px 10px 20px 10px;
}

.lineup_day h4 {
    padding-top: 5px;
    text-align: center;
}

.day_top {
    padding: 1px 4px;
}

.timeslots_container {
    margin: 0px 10px;
}

.timeslot {
    background-color: #fff;
    border-radius: 6px;
    margin: 20px 10px 10px 10px;
}

.timeslot_title {
    background-color: #f1f4f9;
    border-radius: 6px 6px 0px 0px;
    display: inline-block;
    font-size: .9em;
    font-weight: bold;
    padding: 1px 3px;
    text-align: center;
}

.timeslot_text {
    font-size: .9em;
    padding: 15px 10px;
    text-align: center;
}

.w15 {
    width: 15px;
}

.add_timeslot {
    color: #fff;
    font-size: 2em;
    text-align: center;
}

.add_day {
    color: #999;
    font-size: 3em;
}

button.build_lineup {
    display: block;
    font-size: 20px;
    margin: 50px auto;
    padding-left: 20px;
    padding-right: 20px;
}


/****** Groups ******/

.group_list .group_card {
    border: 1px solid #d0d7e1;
    border-radius: 0.25rem;
    font-size: 15px;
    margin: 10px 0px;
    padding: 20px;
}

.group_list .group_card a {
    color: #212529;
    text-decoration: none;
}

.group_list .group_card a:hover {
    color: #812bb2;
    text-decoration: none;
}

.group_list .group_card hr {
    margin: 10px 0px;
}

.small {
    font-size: 10px;
}

.character_list {
    font-size: 14px;
}

.character_list .table td {
    padding: 5px;
}

.character_list td.character {
    width: 150px;
}

.character_list td.user {
    width: 150px;
}

.character_list td.user_update {
    padding: 5px 0px 0px;
}

/* .member_list .accordion .accordion-item .title {
    background-color: #812bb2;
    color: #fff;
}

.member_list .accordion .accordion-item.active .title {
    background-color: #918bae;
} */

/* .member_list .accordion {
    border: none;
}

.member_list .accordion .accordion-item .title {
    background-color: #fff;
    color: #212529;
    font-size: 1.25rem;
    padding: 0px;
    width: 170px;
}

.member_list .accordion .accordion-item.active .title {
    background-color: #fff;
}

.accordion .accordion-item .title:after {
    margin-top: 7px;
} */

.collapse_title .btn::before{
    padding-right: 10px;
    font-family: "Font Awesome 5 Free";
    content: "\f004";
}

.collapse_title .btn:not(.collapse):before {
    content: "▸";
    margin-right: 0px;
}
.collapse_title .btn:before {
    content: "▾";
    margin-right: 0px;
}

.Collapsible__trigger {
    /* display: block; */
    font-size: 18px;
    /* position: relative; */
    /* padding: 10px; */
    cursor: pointer;
}

.Collapsible__trigger:before {
      /* font-family: "Font Awesome 5 Free"; */
      content: '\002B';
      /* position: absolute;
      left: 10px;
      top: 10px;
      display: block; */
      /* transition: transform 500ms !important; */
      padding-right: 5px;
    }

.Collapsible__trigger.is-open:before {
      /* transform: rotateZ(180deg); */
      content: '\2212';
    }

.Collapsible__contentOuter {
    transition: height 100ms linear 0s !important;
}

/****** Group Chat ******/

/* .chatroom {
    margin: 10px;
    max-width: 400px;
} */

.chat_box {
    border: 1px solid #666;
    height: 500px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.current_user .message_box {
    float: right;
    margin: 10px;
    width: 80%;
}

.other_user .message_box {
    float: left;
    margin: 10px;
    width: 80%;
}

.message_text {
    background-color: #f5f4f8;
    border-radius: 15px;
    font-size: 14px;
    padding: 10px;
}

.current_user .message_text {
    background-color: #a564ca;
    color: #fff;
    clear: right;
}

.username {
    color: #222;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 10px;
}

.current_user .username, .current_user .bottom_info {
    float: right;
}

.bottom_info {
    font-size: 10px;
    margin: 3px 10px;
}

.edit_link {
    text-decoration: underline;
}

.message_input {
    width: 100%;
}

.message_btn {
    padding-left: 10px;
}
