#appviews {
    padding: 20px;
}

/****** Links ******/

a.link {
    color: #74c2a7;
    text-decoration: underline;
}

a.cancel {
    color: #636363;
    text-decoration: underline;
}

a.delete {
    color: red;
    text-decoration: underline;
}

a.return {
    font-size: .8em;
}

.costume_links {
    font-size: 10px;
}

.costume_links a {
    color: #999;
}


/****** Forms ******/

.form_width {
    max-width: 500px;
}

.login_form {
    margin: 0 auto;
    width: fit-content;
}

.convention_form label {
    margin-bottom: 0px;
}

/****** Convention List ******/

.con_details {
    font-size: .9rem;
    line-height: 1.3em;
}

.thumb {
    width: 64px;
    height: 64px;
}

.convention_packing_list .checked, .costume_packing_lists .checked {
    text-decoration: line-through;
}

/****** Costume List ******/
.costume_list {
    max-width: 1050px;
}

.costume_list .card {
    max-width: 318px;
}

.costume_list .card a, .con_details a, .costume_list .card a:hover, .con_details a:hover {
    color: #212529;
    text-decoration: none;
}

.costume_list .card-title {
    margin-bottom: 0;
}

.subtitle {
    font-size: .7em;
}

.outfit {
    font-size: .8em;
    font-style: italic;
}

.costume_details {
    line-height: .9em;
}

.costume_details h4 {
    margin-bottom: 5px;
}

/* .costume_details .table {
    margin-bottom: 0px;
} */

.costume_details .table td {
    padding: 7px 5px;
}

.items_box {
    font-size: .8em;
}

/****** Convention Details ******/
.convention_costume_list .card {
    max-width: 200px;
    height: auto;
}

.convention_costume_list .card-body {
    padding: 10px;
}

.convention_costume_list .card-title h3 {
    font-size: 1.4em;
}

/****** Lineup ******/

/* .lineup_container .col-sm-3:nth-child(2) {
    background-color: teal;
}

.lineup_container .col-sm-3:nth-child(3) {
    background-color: red;
} */

.lineup_day {
    background-color: #eee;
    margin-bottom: 20px;
    padding: 2px 5px 10px 5px;
}

.lineup_day h4 {
    padding-top: 5px;
    text-align: center;
}

.timeslots_container {
    margin: 0px 15px;
}

.timeslot {
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 0px 10px 0px;
}

.time_title {
    background-color: #999;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    padding: 5px 0px;
    text-align: center;
}

.time_text {
    display: inline-block;
    font-size: .7em;
    margin: 10px;
}

.w15 {
    width: 15px;
}

.add_timeslot {
    color: #999;
    font-size: 2em;
    text-align: center;
}

.add_day {
    color: #999;
    font-size: 3em;
}